/* 
  Copyright 2015 Drew Bryant and Patrick Lathan
*/
a{
    font-weight: bold;
    font-size: 1.25em;
}
body{
    margin: 0;
    width: 100%;
}
footer{
    border-top: solid blue;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background: white;
}
header{
    text-align: center;
    margin: 1em;
}
html{
    font-family: sans-serif;
}
label{
  float: left;
  margin-right: .5em;
  text-align: left;
  width: 10em;
}
p{
  padding-bottom: .1em;
  margin: 0em;
}
#pageContent{
    border: solid red;
    width: 75%;
    padding: 2em;
    margin: auto;
    margin-bottom: 2em;
}